.quote {
  margin-bottom: 10rem;
}

.quote__text {
  margin-bottom: 3.1rem;
  font: $quote;
  @media screen and (min-width: 768px) {
    max-width: 95rem;
    font: $heading1;
  }
}

.quote__author {
  display: flex;
  gap: 3rem;
}

.author__img {
  height: 8.2rem;
  width: 8.2rem;
  border-radius: 1.2rem;
}

.author__info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.author__name {
  font: $quote;
}

.author__job {
  font: $heading5;
  color: $darkGray;
}